<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <a href="/content"><img id="logo" src="/assets/img/scott.jpg" alt="Scott's beautiful face"/></a>
  </nav>

  <div id="scottText">
    <p>Hey all, Scott here</p>
  </div>

  <video width="700" height="394" controls>
  <source src="/assets/video/Chia Pet - Scott the Woz.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

  <script src="/assets/appBundle.js"></script>
  
</body>
</html>