<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Mental Health Diary</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/happy.png" alt="happy logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  <section id="top">
    <h1>Mental Health Diary</h1>
    <p>Welcome to the Mental Health Diary, where you can track your mental health day by day.  </p>
        <p>For each post, you will be asked a series of questions, please answer honestly.</p>
  </section>
  <section id="content">

  </section>

  <div id="entryMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
    <img id="luffy" src="assets/img/luffy.png" alt="luffy"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
