html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: lightpink;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: purple;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: purple;
    padding: 3px;
    border-radius: 15px;
    border: 3px solid #338acc;
    background-color: lightpink;
}

.navlink a:hover {
    background-color: pink;
}


.entryForm {
    border: 4px solid #338acc;
    width: 70%;
    margin: 0 auto;
    background-image: url(img/background2.jpg);
}

.left {
    width: 50%;
    float: left;

    display: flex;
    justify-content: center;
}

.right {
    width: 50%;

    float: left;
    display: flex;
    justify-content: center;
}

.paragraphQuestion, .dropdownQuestion {
    text-align: center;
}

.entryForm label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    /* float: left; */
    color: white;
}

textarea {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-color: lightpink;
}

select {
    background-color: lightpink;
}

select:hover {
    background-color:#AA336A;
}

.makeEntrySubmit {
    background-color: #FAA0A0;
    border-radius: 5px;
    border-color: #770737;
}

.makeEntrySubmit:hover {
    background-color: #AA336A;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    display: block;
    background-color: #FAA0A0;
    border-radius: 5px;
    border-color: #770737;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
  
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #AA336A;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 2.1em;
    width: 380px;
    border-radius: 6px;
    background-color: lightblue;
}


.hidden {
    display: none;
}

#entryMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#entryMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#entry {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#entrys {
    min-width: 400px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.entry {
    width: 60%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    background-image: url(img/background.jpg);
}


h3.emptyEntry {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}


.entry:first-child {
    margin-top: 10px;
}

.entry:last-child {
    margin-bottom:10px;
}

#top {
    background-color: lightblue;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}
